In [1]:
# Open CV + Tensorflow MNIST digit classifier

In [2]:
import numpy as np
import cv2
import os

In [8]:
import pandas
x = [[12, 6], [12, 0], [0, 6], [12, 0], [12, 0], [6, 0], [12, 6], [0, 6], [12, 0], [0, 6], [0, 6], [12, 0], [0, 6], [6, 0], [6, 0], [12, 0], [6, 0], [12, 0], [12, 0], [0, 6], [0, 6], [12, 6], [6, 0], [6, 0], [12, 6], [12, 0], [12, 0], [0, 6], [6, 0], [12, 6], [12, 6], [12, 6], [12, 0], [12, 0], [12, 0], [12, 0], [12, 6], [12, 0], [12, 0], [12, 6], [0, 6], [0, 6], [6, 0], [12, 6], [12, 6], [12, 6], [12, 6], [12, 6], [12, 0], [0, 6], [6, 0], [12, 0], [0, 6], [12, 6], [12, 6], [0, 6], [12, 0], [6, 0], [6, 0], [12, 6], [12, 0], [0, 6], [12, 0], [12, 0], [12, 0], [6, 0], [12, 6], [12, 6], [12, 6], [12, 6], [0, 6], [12, 0], [12, 6], [0, 6], [0, 6], [12, 0], [0, 6], [12, 6], [6, 0], [12, 6], [12, 6], [12, 0], [12, 0], [12, 6], [0, 6], [6, 0], [12, 0], [6, 0], [12, 0], [12, 0], [12, 6], [12, 0], [6, 0], [12, 6], [6, 0], [12, 0], [6, 0], [12, 0], [6, 0], [6, 0]] 
ps = pandas.Series([tuple(i) for i in x])
counts = ps.value_counts()
pandas.DataFrame({"Count":counts,"Percents":[str(round(x,2)*100)+"%" for x in counts/np.mean(counts) -1]})

In [35]:
pandas.DataFrame({"Count":counts,"Percents":[str(round(x,2)*100)+"%" for x in counts/np.mean(counts) -1]})

         Count Percents
(12, 0)     33    32.0%
(12, 6)     28    12.0%
(6, 0)      20   -20.0%
(0, 6)      19   -24.0%

In [28]:
counts.index

Index([(12, 0), (12, 6), (6, 0), (0, 6)], dtype='object')

In [37]:
import numpy as np

In [40]:
pandas.DataFrame(np.array(x)).value_counts()

0   1
12  0    33
    6    28
6   0    20
0   6    19
dtype: int64

In [41]:
pandas.DataFrame(np.array(x))

     0  1
0   12  6
1   12  0
2    0  6
3   12  0
4   12  0
..  .. ..
95  12  0
96   6  0
97  12  0
98   6  0
99   6  0

[100 rows x 2 columns]