### Importing libraries

In [1]:
import pandas as pd
import numpy as np

### Loading the data

In [4]:
df_processed = pd.read_csv("Absenteeism_preprocessed.csv")

In [5]:
df_processed.head(5)

,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Group 1,Group 2,...,43,46,47,48,49,50,58,Absenteeism Time in Hours,Month Value,Day of the Week
0,2015-07-07,289,36,239.554,30,0,2,1,0,0,...,0,0,0,0,0,0,0,4,7,1
1,2015-07-14,118,13,239.554,31,0,1,0,0,0,...,0,0,0,0,0,1,0,0,7,1
2,2015-07-15,179,51,239.554,31,0,0,0,0,0,...,0,0,0,0,0,0,0,2,7,2
3,2015-07-16,279,5,239.554,24,0,2,0,1,0,...,0,0,0,0,0,0,0,4,7,3
4,2015-07-23,289,36,239.554,30,0,2,1,0,0,...,0,0,0,0,0,0,0,2,7,3

In [6]:
df_processed['Absenteeism Time in Hours'].median()

3.0

In [9]:
targets = np.where(df_processed['Absenteeism Time in Hours']>df_processed['Absenteeism Time in Hours'].median(),1,0)

In [10]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [11]:
# Defining a function to know wxcessive absneitsm 
def abs_excess(x,median_value):
    if x>median_value:
        return(1)
    else:
        return(0)

In [12]:
df_processed['Absenteeism Time in Hours'].map(lambda x: abs_excess(x,median_value=df_processed['Absenteeism Time in Hours'].median()))

0      1
1      0
2      0
3      1
4      0
      ..
695    1
696    0
697    1
698    0
699    0
Name: Absenteeism Time in Hours, Length: 700, dtype: int64

In [13]:
df_processed['Excessive Absenteeism'] = targets

In [18]:
df_processed['Excessive Absenteeism'].value_counts()/df_processed['Excessive Absenteeism'].count()

0    0.544286
1    0.455714
Name: Excessive Absenteeism, dtype: float64

In [30]:
data_with_targets = df_processed.drop(['Absenteeism Time in Hours','Date'],axis=1)

In [31]:
data_with_targets is df_processed

False

######  Segregating Inputs and Targets

In [32]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [33]:
Target_value = data_with_targets.iloc[:,-1]

##### Standardizing the inputs

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
absenteeism_scaler = StandardScaler()

In [36]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [37]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [39]:
scaled_inputs.shape

(700, 34)

##### Spliting into train and test

In [40]:
from sklearn.model_selection import train_test_split

In [66]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs,targets, train_size=0.8, random_state=20, shuffle=True)

In [67]:
print(x_train.shape,y_train.shape)

(560, 34) (560,)

In [68]:
print(x_test.shape,y_test.shape)

(140, 34) (140,)

###### Importing the logistic regression and metics module

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [70]:
reg = LogisticRegression()

In [135]:
reg.fit(x_train,y_train)

C:\Users\91990\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [136]:
reg.score(x_train,y_train)

0.7946428571428571

In [73]:
model_output = reg.predict(x_train)

In [79]:
 sum(model_output == y_train)/y_train.shape[0]

0.7946428571428571

In [75]:
equality

False

In [86]:
pd.DataFrame(Columns=unscaled_inputs.columns.values,Coeff=reg.coef_)

TypeError: __init__() got an unexpected keyword argument 'Columns'

In [99]:
dat1 = pd.DataFrame({"Columns":np.transpose(unscaled_inputs.columns.values)})

In [100]:
dat1['Coefficient'] = np.transpose(reg.coef_)

In [129]:
dat1 = dat1.append(pd.DataFrame({"Columns":"Intercept","Coefficient":reg.intercept_[0]},index=[-1]))

In [130]:
dat1.index = dat1.index +1

In [131]:
dat1.sort_values("Coefficient", ascending=False)

                    Columns  Coefficient
8                   Group 1     2.259780
10                  Group 3     1.578463
11                  Group 4     1.451145
1    Transportation Expense     0.862817
4           Body Mass Index     0.641718
9                   Group 2     0.439774
20                       36     0.414310
18                       33     0.382809
2          Distance to Work     0.363514
19                       34     0.344488
27                       46     0.289175
33              Month Value     0.208522
21                       37     0.193351
25                       41     0.144700
5                 Education     0.127813
29                       48     0.110760
16                       31     0.100543
12                       27     0.073217
14                       29     0.063694
23                       39     0.055058
32                       58     0.051629
3   Daily Work Load Average     0.042834
31                       50    -0.034256
34          Day of the Week    -0.051112
24                       40    -0.069815
13                       28    -0.076828
26                       43    -0.079706
15                       30    -0.109137
0                 Intercept    -0.221325
6                  Children    -0.224143
17                       32    -0.300040
28                       47    -0.327541
30                       49    -0.345931
7                      Pets    -0.375161
22                       38    -0.527004

In [132]:
dat1['odds_ratio'] = np.exp(dat1.Coefficient)

In [133]:
dat1.sort_values("odds_ratio", ascending=False)

                    Columns  Coefficient  odds_ratio
8                   Group 1     2.259780    9.580983
10                  Group 3     1.578463    4.847501
11                  Group 4     1.451145    4.267998
1    Transportation Expense     0.862817    2.369827
4           Body Mass Index     0.641718    1.899742
9                   Group 2     0.439774    1.552356
20                       36     0.414310    1.513327
18                       33     0.382809    1.466398
2          Distance to Work     0.363514    1.438375
19                       34     0.344488    1.411267
27                       46     0.289175    1.335326
33              Month Value     0.208522    1.231856
21                       37     0.193351    1.213309
25                       41     0.144700    1.155692
5                 Education     0.127813    1.136341
29                       48     0.110760    1.117126
16                       31     0.100543    1.105771
12                       27     0.073217    1.075964
14                       29     0.063694    1.065766
23                       39     0.055058    1.056602
32                       58     0.051629    1.052985
3   Daily Work Load Average     0.042834    1.043765
31                       50    -0.034256    0.966324
34          Day of the Week    -0.051112    0.950172
24                       40    -0.069815    0.932567
13                       28    -0.076828    0.926050
26                       43    -0.079706    0.923388
15                       30    -0.109137    0.896608
0                 Intercept    -0.221325    0.801456
6                  Children    -0.224143    0.799201
17                       32    -0.300040    0.740789
28                       47    -0.327541    0.720694
30                       49    -0.345931    0.707561
7                      Pets    -0.375161    0.687179
22                       38    -0.527004    0.590371

In [137]:
reg.score(x_test,y_test)

0.7357142857142858

######  Saving the model

In [138]:
import pickle

In [ ]:
with open('model','wb') as file:
    pickle.dump(reg, file)

In [ ]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)